[Desktop Entry]
Type=Application
Version=1.0
Name=MuseScore
GenericName=musescore
Comment=Create, play and print sheet music
Icon=MuseScore
Exec=/usr/local/bin/MuseScore %F
Terminal=false
Categories=Qt;Audio;Sequencer;Midi;AudioVideoEditing;Music;AudioVideo;
Keywords=music;notation;composition;composing;arranging;making;sheet music;music notation software;lead sheet;leadsheet;score;full score;scorewriter;MIDI;musicxml;playback;instrument;
Keywords[de]=Musik;Noten;Musiknoten;Komposition;Komponieren;Arrangieren;Notenblatt;Notenblätter;Notationsprogramm;Musiknotationsprogramm;Musiknotation;Tabulatur;MIDI;musicxml;Instrument;
StartupNotify=true
StartupWMClass=mscore
